:root { --tbh: 43px; }

/* moving tabs bar down  */
#titlebar {
  display: block;
  position: absolute;
  z-index: 9000;
  background: var(--lwt-accent-color-inactive, var(--lwt-accent-color));
  bottom: 0;
  width: 100%;
}
#titlebar .titlebar-spacer
, #alltabs-button
{ display: none; }
#titlebar .toolbar-items { padding: 0 2px; }
:root:not([inDOMFullscreen]) #browser {
  margin-bottom: var(--tbh);
}

/* moving window control buttons back up */
#nav-bar-customization-target {
  margin-left: 80px;
}
.titlebar-buttonbox-container {
  transform: translateY(calc(-100vh + var(--tbh) - 1px));
  margin-right: -66px;
}
.titlebar-buttonbox-container:not(:hover) { opacity: .5 !important; }

/* KEYMASTERR */
  /* I really don't like that double arrow for hidden extensions */
  #nav-bar-overflow-button {
    list-style-image: url("chrome://global/skin/icons/more.svg") !important;
  }

  html {
    border-top: 1px solid black;
  }
/* KEYMASTERR END */